---
---
.wrapper {
    text-align: center;
}

@import "{{ site.theme }}";

.portrait {
    align-content: center;
}

.portrait-img {
    height: 75%;
    width: 75%;
}

.about {
    padding: 5%;
    margin-bottom: 0%;
}

.links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

.foot {
    bottom: 20px;
}


