<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    
    <div class="wrapper">

      <header>
        <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <div class="portrait">
            <img class="portrait-img" src="{{site.logo | relative_url}}" alt="Logo" />
          </div>
        {% endif %}

        {% if site.github.is_user_page %}
        <div class="links">
          <a href="{{ site.github.owner_url }}"><i class="fa-brands fa-github fa-2xl"></i></a>
          <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
          <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        </div>
        {% endif %}

        <br>

        <p class="email">
          <i class="fa-solid fa-envelope"></i> {{ site.email_personal }} (Personal)<br>
          <i class="fa-solid fa-envelope"></i> {{ site.email_academic }} (Academic)
        </p>

        <hr>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        <a href="/docs/Imesh_CV.pdf" target="_blank" class="button">Curriculum Vitae</a>

        <div class="navbar">
          <a href="/#about">About</a>
          <a href="/#skills">Skills & Experience</a>
          <a href="/#projects">Projects</a>
        </div>


      </header>


      <section>
        {{ content }}
      </section>

    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>

</html>